<!-- <app-welcome></app-welcome>

 <app-login></app-login> -->
<!--
<div>Component Content</div>-->

<!-- <h4>Welcome to {{ title }}</h4>
<h5>Follow the Consistency in {{ reason }}</h5>

<app-menu></app-menu>

<div class="container">
  <router-outlet></router-outlet>
</div>

<app-welcome></app-welcome>

<div>Component Builder</div>

<app-location></app-location>

<app-footer></app-footer> -->

<!-- <app-login></app-login> -->

<app-menu></app-menu>

<div class="container">
    <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
